<!-- views/pages/product-list.ejs -->
<%- include('../partials/header') %>

<div class="container mt-4">
    <h1>Our Products</h1>
    <div class="row">
        <% products.forEach(product => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.description %></p>
                        <p class="text-muted">$<%= product.price %></p>
                        <button class="btn btn-primary add-to-cart" data-id="<%= product._id %>">Add to Cart</button>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>